:root {
  /* Pokémon Colors */
  --color-primary: #003a70;
  --color-primary-light: #33618d;
  --color-primary-dark: #002244;
  --color-primary-rgb: 0, 58, 112;

  --color-secondary: #ffde00;
  --color-secondary-light: #ffe533;
  --color-secondary-dark: #ccb200;
  --color-secondary-rgb: 255, 222, 0;

  /* Red Pokédex for the 3rd variation */
  --color-tertiary: #e3350d;
  --color-tertiary-light: #e95d3d;
  --color-tertiary-dark: #b62a0a;
  --color-tertiary-rgb: 227, 53, 13;

  /* Neutrals */
  --color-grey-light-2: #eee;
  --color-white: #fff;
  --color-black: #000;

  /* Variables */
  --border-radius-default: 3px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

#app {
  width: 100%;
  height: 100%;
}

home-page {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  justify-content: space-between;
}

.home-header {
  flex-basis: 10%;
  justify-content: center;
  align-items: center;
  background-color: var(--color-primary);
  color: var(--color-secondary);
  padding: 1.5rem;
  width: 100%;

  font-size: 1.4rem;
  text-align: center;
}

.home-footer {
  flex-basis: 10%;
  justify-content: center;
  align-items: center;
  background-color: var(--color-primary);
  color: var(--color-secondary);
  padding: 1.5rem;
  width: 100%;

  font-size: 1.4rem;
  text-align: center;
}

.home-main {
  flex-basis: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.home-main > * {
  flex-basis: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-settings {
  padding: 3rem;
  flex-basis: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  border-radius: var(--border-radius-default);
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);

  background-color: #444;
  color: var(--color-secondary);
}

.pokemon-body {
  background-image: url("../assets/pokmon-bg-main.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
  overflow-x: hidden;
  /* overflow-y: hidden; */
}

.pokemon-text {
  text-align: center;
  font-family: "Montserrat", "Impact", sans-serif;
  font-weight: 900;
  font-size: 10rem;
  text-transform: uppercase;
  color: #ffde00; /* Yellow Fill */
  letter-spacing: 2px;
  position: relative;
  /* Blue Stroke and Shadow Effect */
  text-shadow:
    -2px -2px 0 #003a70,
    2px -2px 0 #003a70,
    -2px 2px 0 #003a70,
    2px 2px 0 #003a70,
    4px 4px 0 rgba(0, 58, 112, 0.5); /* Drop Shadow */
}

.pokemon-button {
  background-color: #ffde00; /* Yellow */
  border: none;
  color: #003a70; /* Blue */
  padding: 1.5rem 3rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 2.5rem;
  margin: 4rem 2rem;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  font-family: "Montserrat", "Impact", sans-serif;
}

.pokemon-button:hover {
  background-color: #003a70; /* Blue */
  color: #ffde00; /* Yellow */
}

.hidden {
  display: none;
}
