:root {
  /* Pokémon Colors */
  --color-primary: #003a70;
  --color-primary-light: #33618d;
  --color-primary-dark: #002244;
  --color-primary-rgb: 0, 58, 112;

  --color-secondary: #ffde00;
  --color-secondary-light: #ffe533;
  --color-secondary-dark: #ccb200;
  --color-secondary-rgb: 255, 222, 0;

  /* Red Pokédex for the 3rd variation */
  --color-tertiary: #e3350d;
  --color-tertiary-light: #e95d3d;
  --color-tertiary-dark: #b62a0a;
  --color-tertiary-rgb: 227, 53, 13;

  /* Neutrals */
  --color-grey-light-2: #eee;
  --color-white: #fff;
  --color-black: #000;

  /* Variables */
  --border-radius-default: 3px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

.pokemon-body {
  background-image: url("../assets/pokmon-bg-main.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
  overflow-x: hidden;
  /* overflow-y: hidden; */
  /* height: 100vh; */
}

.pokemon-text {
  text-align: center;
  margin-top: 10rem;
  font-family: "Montserrat", "Impact", sans-serif;
  font-weight: 900;
  font-size: 10rem;
  rotate: -5deg;
  text-transform: uppercase;
  color: #ffde00; /* Yellow Fill */
  letter-spacing: 2px;
  position: relative;
  /* Blue Stroke and Shadow Effect */
  text-shadow:
    -2px -2px 0 #003a70,
    2px -2px 0 #003a70,
    -2px 2px 0 #003a70,
    2px 2px 0 #003a70,
    4px 4px 0 rgba(0, 58, 112, 0.5); /* Drop Shadow */
}

.pokemon-button {
  background-color: #ffde00; /* Yellow */
  border: none;
  color: #003a70; /* Blue */
  padding: 1.5rem 3rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 2.5rem;
  margin: 4rem 2rem;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  font-family: "Montserrat", "Impact", sans-serif;
}

.pokemon-button:hover {
  background-color: #003a70; /* Blue */
  color: #ffde00; /* Yellow */
}
